aside {
    //左側按鈕
    &.sideLeft {
        width: 80px;
        height: calc(100% - 217px);
        background: $side_bg;
        display: flex;
        flex-direction: column;
        padding: 12px;
        box-sizing: border-box;
        position: absolute;
        top: 217px;
        left: 0;
        z-index: 50;

        ul {
            li {
                width: 50px;
                height: 53px;
                background: transparent;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5px;
                cursor: pointer;

                &:first-child {
                    &:hover,&:active,&.active {
                        background: $side_HOV_bg;
                        border-radius: 80px;
                        transition: 0.2s;
                        position: relative;

                        &::after {
                            content: "";
                            width: 50px;
                            height: 53px;
                            background: $sub_color;
                            border-radius: 50px;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            z-index: -1;
                            animation: fade_down 0.2s ease-in-out forwards;
                        }
                    }
                }
    
                &:active,&.active {
                    background: $side_HOV_bg;
                    border-radius: 80px;
                    transition: 0.2s;
                   
                    i {
                        background-position-x: 100%;
                        animation: ball 0.5s linear infinite;
                    }
                }

                &:hover {
                    position: relative;

                    &::after {
                        content: "";
                        width: 50px;
                        height: 53px;
                        background: $sub_color;
                        border-radius: 50px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: -5;
                        animation: fade 0.2s ease-in-out;
                    }

                    i {
                        background-position-x: 100%;
                    }
                }
    
                    .basketball {
                        width: 25px;
                        height: 25px;
                        background-position-x: 0%;
                    }
                    .socer {
                        width: 25px;
                        height: 25px;
                        background-position-x: 0%;
                    }
                    .baseball {
                        width: 25px;
                        height: 25px;
                        background-position-x: 0%;
                    }
                    .hockey {
                        width: 25px;
                        height: 25px;
                        background-position-x: 0%;
                    }
                    .ball {
                        width: 25px;
                        height: 25px;
                        background-position-x: 0%;
                    }
            }
        } 
    }
    
    //右側
    &.sideRight {
        width: auto;
        height: calc(100% - 217px);
        display: flex;
        justify-content: center;
        background: $sub_color;
        padding: 10px;
        box-shadow: 0px 2px 5px $shadow01;
        position: absolute;
        top: 217px;
        right: 0;
        z-index: 50;
        cursor: pointer;

        .pic {
            width: 175px;
            height: 173px;
        }
    }

    &.chatroom {
        width: 290px;
        height: auto;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        right: 100px;
        z-index: 100;

        .titleArea {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            background: $deco_color;
            position: relative;
            cursor: pointer;

            p {
                 color: $light_font;
                 font-weight: bold;
            }

            .online {
                width: auto;
                height: 100%;
                display: flex;
                flex-shrink: 0;
                align-items: center;

                .member_ic {
                    width: 15px;
                    height: 19px;
                    margin-right: 5px;
                }
            }

            .notfition {
                display: none;
                width: auto;
                height: auto;
                background: $noti;
                color: $sub_color;
                font-size: 13px;
                font-weight: bolder;
                border-radius: 12px;
                padding: 5px 7px;
                position: absolute;
                top: 9px;
                left: 80px;
                animation: invisible 2s ease-in-out, wiggle 2.5s 5s infinite;
            
                &.display {
                    display: flex;
                }
            }
        }
        .content {
            height: 0;
        }

        textarea {
            display: none;
        }

        &.active {
            height: 300px;
            background: $sub_color;

            .content {
                width: 100%;
                height: 100%;
                border-left: 1px solid $data_border;
                border-right: 1px solid $data_border;

                .history {
                    width: 100%;
                    height: 70%;
                    padding: 10px;
                    border-bottom: 1px solid $data_border;
                    overflow: hidden;

                    .text {
                        width: 100%;
                        height: 100%;
                        overflow-y: auto;
                        @include scrollBar;
                        &::-webkit-scrollbar-thumb {
                            background: $deco_color;
                        }

                        li {
                            width: auto;
                            height: auto;
                            display: block;
                            text-align: right;

                            p {
                                width: auto;
                                max-width: 250px;
                                height: auto;
                                display: inline-block;
                                background: $deco_color;
                                border-radius: 15px;
                                word-break: break-all;
                                padding: 10px;
                                margin: 5px;
                                color: $light_font;  
                            }
                        }
                    }
                }
                .inputArea {
                    width: 100%;
                    height: 23%;
                    padding: 5px;

                    textarea {
                        width: 100%;
                        height: auto;
                        display: block;
                        border: none;

                        &:focus {
                            resize: none;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}

@keyframes fade {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    90% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 0;
    }
}
@keyframes fade_down {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    90% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 0;
    }
}
@keyframes ball {
    0% {
        transform: rotate(90deg);
    }
    25% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes invisible {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        transform: translateY(100%);
        opacity: 0;
    }
    60% {
        transform: translateY(100%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
} 
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-20deg);
    }
    35% {
        transform: rotate(15deg);
    }
    45% {
        transform: rotate(-20deg);
    }
    55% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}