//主色調
$main_color: #2b6de7;
$sub_color: #ffffff;
$deco_color: #fa803f;

//字色
$main_font: #172c63;
$sub_font: #7d8697;
$light_font: #ffffff;
$lightgray_font: #a4aab6;
$score: #dd5664;
$noti: $main_color;

//border
$header_border: #ecedef;
$data_border: #e5e9ec;

//陰影
$shadow01: #0000004d;
$shadow02: #00000021;

//scrollbar
$scrollBar_thumb: $main_color;
$scrollBar_track: #efefef;

@mixin scrollBar {
    
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: $scrollBar_thumb;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $scrollBar_track;
        border-radius: 10px;
    }
}

//header
$header_font: #172c63;
$header_drop_bg: #0e459f;
$header_drop_font: #ffffff;

//賽事標籤
$tag_Bg: #e6ecf8;
$tag_01: #ff8451;
$tag_02: $main_color;
$tag_03: #10ba3f;
$tag_04: #de5974;

//左側按鈕列
$side_bg: #0e459f;
$side_HOV_bg: #ffffff;

//middle
$mid_bg: #dddddd;

//gameBlock
$gametitle_font: #7b829f;
$state_BG: #efefef;
$state_LIVE: #ff8656;
$state_Analysis: $main_color;


//footer
$footer_BG: #f1f8ff;

