footer {
    width: 100%;
    min-width: 1000px;
    height: auto;
    background: $mainBG_1;
    padding: 0 205px 0 80px;

    .top {
        width: 100%;
        height: 45px;
        background: $footer_topBG;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            li {
                width: auto;
                height: 43px;
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;
                margin: 0 20px;

                &::before,
                &::after {
                    display: none;
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 40px;
                    height: 100%;
                }
                &::before {
                    left: -40px;
                }
                &::after {
                    right: -40px;
                    transform: scaleX(-1);
                }

                &:hover,&:active,&.active {
                    background: $mainBG_1;

                    &::before,
                    &::after {
                        display: block;
                    }

                    p {
                        color: $mainColor_2;
                    }

                    i {
                        background-position-y: 100%;
                    }
                }

                p {
                    color: $mainColor_3;
                    font-size: 14px;
                    font-weight: bold;
                }

                i {
                    width: 17px;
                    height: 17px;
                    margin-right: 5px;

                    &.help {
                        background-position-x: 0;
                    }
                    &.feeback {
                        background-position-x: 25%;
                    }
                    &.event {
                        background-position-x: 50%;
                    }
                    &.rule {
                        background-position-x: 75%;
                    }
                    &.about {
                        background-position-x: 100%;
                        margin-top: 2px;
                    }
                }
            }
        }
    }

    .bottom {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: $mainColor_2;
            font-size: 14px;
            font-weight: bold;
        }
    }
}