.mainwrap {
    width: 100%;
    min-width: 1000px;
    height: 735px;
    background: $mid_bg;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .topArea {
        width: 100%;
        min-width: 1000px;
        height: 120px;
        background: $tag_Bg;
        display: flex;
        flex-shrink: 0;
        justify-content: left;
        align-items: center;
        padding: 0 20px ;
        box-sizing: border-box;

        .outterBox {
            width: 100%;
            height: auto;
            padding: 10px 0;
            display: flex;
            // overflow-x: auto;

            // @include scrollBar;

            .tag {
                width: 350px;
                height: 85px;
                background: $sub_color;
                padding: 10px;
                box-sizing: border-box;
                box-shadow: 0px 2px 5px $shadow02;
                margin-right: 20px;
                border-radius: 8px;
                flex-shrink: 0;
                position: relative;
    
                .type {
                    color: $sub_font;
                    font-size: 12px;
                    font-weight: bold;
                    text-align: center;
                }
    
                .content {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .team {
                        width: 33%;
                        height: 100%;
    
                        p {
                            color: $main_font;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
    
                    .point {
                        width: 33%;
                        height: 100%;
    
                        p {
                            color: $score;
                            font-size: 20px;
                            font-weight: bold;
                            padding: 5px 0;
                            text-align: center;
                        }
    
                        .detail {
                            margin-top: 0;
                        }
                    }
    
                    .detail {
                        color: $sub_font;
                        font-size: 13px;
                        font-weight: bold;
                        margin-top: 15px;
                        text-align: center;
                    }
                }
    
                &.a {
                    &::before {
                        background: $tag_01;
                    }
                }
                &.b {
                    &::before {
                        background: $tag_02;
                    }
                }
                &.c {
                    &::before {
                        background: $tag_03;
                    }
                }
                &.d {
                    &::before {
                        background: $tag_04;
                    }
                }
                &.e {
                    &::before {
                        background: $tag_01;
                    }
                }
    
                &::before {
                    content: "";
                    width: 5px;
                    height: 100%;
                    border-radius: 8px 0 0 8px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    .downArea {
        width: 100%;
        height: 100%;
        padding: 0 195px 0 80px ;
        position: relative;
        overflow: hidden;

        //中部
        .middle {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-right: 5px;
            position: relative;

            .funtionArea {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                flex-shrink: 0;
                padding: 12px 7px 12px 12px;

                .switchBtn {
                    width: 301px;
                    height: 37px;
                    background: $sub_color;
                    border-radius: 10px;
                    display: flex;
                    box-shadow: 0px 2px 5px $shadow02;
                    overflow: hidden;
                    cursor: pointer;

                    div {
                        width: 108px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $lightgray_font;
                        font-weight: bold;
                        
                        &:hover {
                            background: $main_color;
                            border-radius: 10px 28px 0 10px;
                            color: $light_font;
                            position: relative;
                            animation: bounce 0.3s 0.2s ease-in-out;

                            
                            &::before {
                                content: "";
                                width: 12px;
                                height: 11px;
                                position: absolute;
                                bottom: 0;
                                right: -11px;
                            }
                        }
                        &:active,&.active {
                            background: $main_color;
                            border-radius: 10px 28px 0 10px;
                            color: $light_font;
                            position: relative;

                            &::before {
                                content: "";
                                width: 12px;
                                height: 11px;
                                position: absolute;
                                bottom: 0;
                                right: -12px;
                            }
                        }

                        &:last-child {
                            &:hover,&:active,&.active {
                                background: $main_color;
                                border-radius: 28px 10px 0 0;
                                color: $light_font;
                                position: relative;
    
                                &::before {
                                    content: "";
                                    width: 12px;
                                    height: 11px;
                                    transform: rotate(-90deg);
                                    position: absolute;
                                    bottom: 0;
                                    left: -10px;
                                }
                            }
                        }
                    }
                }

                .collapse {
                    width: 118px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $sub_color;
                    border-radius: 10px;
                    cursor: pointer;

                    i {
                        width: 24px;
                        height: 15px;
                        margin-right: 8px;
                    }

                    p {
                        font-size: 11px;
                        font-weight: bold;
                    }
                }
            }

            .dataBox {
                width: 100%;
                height: 100%;
                padding: 12px 7px 20px 12px;
                overflow-y: overlay;
                @include scrollBar;

                .gameBlock {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    background: $sub_color;
                    border-radius: 10px;
                    box-sizing: border-box;
                    box-shadow: 0px 2px 8px $shadow02;
                    margin-bottom: 12px;
                    overflow: hidden;
                    position: relative;

                    &:last-child {
                        margin: 0;
                    }
                    
                    .title {
                        width: 100%;
                        height: 47px;
                        display: flex;
                        flex-shrink: 0;
                        background: $main_color;
                        color: $gametitle_font;
                        font-size: 20px;
                        font-weight: bold;
                        cursor: pointer;

                        p {
                            width: auto;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            background: $sub_color;
                            padding: 11px 60px 11px 40px;
                            position: relative;

                            &::before {
                                content: "";
                                width: 81px;
                                height: 47px;
                                position: absolute;
                                top: 0;
                                right: -8px;
                            }
                        }                
                    }

                    .arrow {
                        width: 17px;
                        height: 13px;
                        position: absolute;
                        top: 16px;
                        right: 16px;
                        cursor: pointer;
                    }
                                 
                    .content {
                        display: flex;
                        width: 100%;
                        height: auto;
                        padding: 0 0 15px 40px;
                        box-sizing: border-box;
                        position: relative;
                    

                        .fixed_item {
                            width: 247px;
                            height: 100%;
                            flex-shrink: 0;
                            position: relative;

                            .state {
                                width: 100%;
                                height: 50px;
                                display: flex;
                                align-items: center;

                                div {
                                    width: 64px;
                                    height: 20px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background: $state_BG;
                                    border-radius: 10px;
                                    color: $lightgray_font;
                                    font-size: 12px;
                                    font-weight: bold;
                                    margin-right: 10px;
                                    pointer-events: none;
                                    cursor: pointer;

                                    &.live {
                                        .live_ic {
                                            width: 8px;
                                            height: 8px;
                                            margin-right: 5px;
                                            background: $lightgray_font;
                                        }

                                        &:hover,&:active,&.active {
                                            background: $state_LIVE;
                                            color: $light_font;
                                            pointer-events: visible;

                                            .live_ic {
                                                background: $sub_color;
                                                position: relative;

                                                &::before {
                                                    content: "";
                                                    width: 14px;
                                                    height: 14px;
                                                    background: $sub_color;
                                                    border-radius: 50%;
                                                    position: absolute;
                                                    top: -3px;
                                                    left: -3px;
                                                    animation: first 3s ease-in-out infinite;
                                                }

                                                &::after {
                                                    content: "";
                                                    width: 12px;
                                                    height: 12px;
                                                    background: $sub_color;
                                                    border-radius: 50%;
                                                    opacity: 0.5;
                                                    position: absolute;
                                                    top: -2px;
                                                    left: -2px;
                                                    animation: first 2s 2.5s ease-in infinite;
                                                }
                                            }
                                        }
                                    }

                                    &.analysis {
                                        .anal_ic {
                                            width: 12px;
                                            height: 11px;
                                            margin-right: 5px;
                                            background-position-y: 0%;
                                        }

                                        &:hover,&:active,&.active {
                                            background: $state_Analysis;
                                            color: $light_font;
                                            pointer-events: visible;

                                            .anal_ic {
                                                background-position-y: 100%;
                                            }
                                        }
                                    }

                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }

                            .dateTeam {
                                width: 100%;
                                height: auto;
                                display: flex;
                                align-items: center;
                                font-size: 13px;
                                font-weight: bold;

                                div {
                                    height: 50px;
                                    display: flex;
                                    flex-direction: column;

                                    &:first-child {
                                        width: 25%;
                                        padding: 6px 10px 0px 10px;
                                        box-sizing: border-box;

                                        p {
                                            color: $lightgray_font;
                                            margin-bottom: 8px;

                                            &:last-child {
                                                margin-bottom: 0;
                                            }
                                        }    
                                    }

                                    &:last-child {
                                        width: 75%;
                                        padding: 0 0 0 10px;
                                        box-sizing: border-box;

                                        p {
                                            color: $main_font;
                                            margin-bottom: 15px;

                                            &:last-child {
                                                margin-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .score {
                            width: 118px;
                            height: 100%;
                            padding: 50px 0 0;
                            flex-shrink: 0;
                            position: relative;

                            p {
                                color: $main_font;
                                font-size: 13px;
                                font-weight: bold;
                                text-align: center;
                                margin-bottom: 8px;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }

                            &::before {
                                content: "";
                                width: 1px;
                                height: 46px;
                                background: $header_border;
                                position: absolute;
                                bottom: -9px;
                                right: 0;
                            }
                        }

                        .outter {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;

                            .teamList {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                padding: 0 0 10px;
                                overflow: overlay;

                                @include scrollBar;
    
                                li {
                                    width: calc(100% / 6);
                                    min-width: 120px;
                                    height: 85%;
                                    display: flex;
                                    flex-direction: column;
                                    flex-shrink: 0;
                                    justify-content: center;
                                    align-items: center;
    
                                    .teamName {
                                        height: 50px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: $deco_color;
                                        font-weight: bold;
                                    }
    
                                    .data {
                                        width: 100%;
                                        height: 48px;
                                        display: grid;
                                        grid-template-columns: repeat(2,40%);
                                        gap: 2px;
                                        justify-content: center;
                                        color: $main_font;
                                        font-size: 13px;
                                        font-weight: bold;
                                        text-align: center;
                                    }
                                }
                            }
    
                        }

                        .status {
                            width: 118px;
                            height: 100%;
                            flex-shrink: 0;
                            box-sizing: border-box;

                            .itemName {
                                height: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: $deco_color;
                                font-weight: bold;
                            }

                            .detail {
                                width: 100%;
                                height: auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 10px;
                                color: $main_font;
                                font-size: 11px;
                                font-weight: bolder;

                                .left {
                                    width: 20%;

                                    ul {
                                        width: 100%;

                                        li {
                                            display: flex;

                                            i {
                                                width: 7px;
                                                height: 11px;
                                                margin-right: 3px;

                                                &.red {
                                                    background-position-y: 0%;
                                                }

                                                &.yellow {
                                                    background-position-y: 100%;
                                                }
                                            }
                                        }
                                    }
                                }

                                .right {
                                    width: 80%;
                                    p {
                                        text-align: end;
                                    }
                                }
                            }
                        }
                        
                        .none {
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $lightgray_font;
                            font-weight: bold;
                        }

                        &:not(:first-child) {
                            border-bottom: 1px solid $data_border;
                        }
                    }

                    &.active {
                        height: 47px;

                        .arrow {
                            transform: rotate(180deg);
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }
}

@keyframes first {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    100% {
        opacity: 0.3;
        transform: scale(1.3);
    }
}
@keyframes bounce {
    0% {
        transform: skewX(0);
    }
    50% {
        transform: skewX(-30deg);
    }
    100% {
        transform: skewX(0);
    }
}