@charset "UTF-8";
header .smallNav i {
  background: url(../img_pink/icon/navList.png) no-repeat;
  background-size: 300%;
}

header .moneyDate i,
header .other .lang {
  background: url(../img_pink/icon/moneyData.png) no-repeat center;
  background-size: 100%;
}

header .user .ac_ic {
  background: url(../img_pink/icon/user.png) no-repeat center;
  background-size: 100%;
}

.sideLeft li .basketball {
  background: url(../img_pink/icon/sideLeft01_btn.png) no-repeat center;
  background-size: 200%;
}

.sideLeft li .socer {
  background: url(../img_pink/icon/sideLeft02_btn.png) no-repeat center;
  background-size: 200%;
}

.sideLeft li .baseball {
  background: url(../img_pink/icon/sideLeft03_btn.png) no-repeat center;
  background-size: 200%;
}

.sideLeft li .hockey {
  background: url(../img_pink/icon/sideLeft04_btn.png) no-repeat center;
  background-size: 200%;
}

.sideLeft li .ball {
  background: url(../img_pink/icon/sideLeft05_btn.png) no-repeat center;
  background-size: 200%;
}

.funtionArea .collapse_ic {
  background: url(../img_pink/icon/collapase_ic.png) no-repeat center;
  background-size: 100%;
}

.gameBlock .title p::before {
  background: url(../img_pink/gameBlock_deco.png) no-repeat center;
  background-size: 100%;
}

.gameBlock .state .anal_ic {
  background: url(../img_pink/icon/anal_ic.png) no-repeat;
  background-size: 100%;
}

.gameBlock .arrow {
  background: url(../img_pink/icon/arrow_ic.png) no-repeat center;
  background-size: 100%;
}

.gameBlock .status .detail .left i.red,
.gameBlock .status .detail .left i.yellow {
  background: url(../img_pink/icon/point_state.png) no-repeat center;
  background-size: 100%;
}

.sideRight .pic {
  background: url(../img_pink/rightside_pic.png) no-repeat center;
  background-size: contain;
}

footer i.help_ic {
  background: url(../img_pink/icon/fnav01.png) no-repeat;
  background-size: 100%;
}

footer i.feedBack_ic {
  background: url(../img_pink/icon/fnav02.png) no-repeat;
  background-size: 100%;
}

footer i.promote_ic {
  background: url(../img_pink/icon/fnav03.png) no-repeat;
  background-size: 100%;
}

footer i.policy_ic {
  background: url(../img_pink/icon/fnav04.png) no-repeat;
  background-size: 100%;
}

footer i.about_ic {
  background: url(../img_pink/icon/fnav05.png) no-repeat;
  background-size: 100%;
}

aside.chatroom .titleArea .member_ic {
  background: url(../img_pink/icon/online_ic.png) no-repeat center;
  background-size: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體";
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0px;
  font-family: "微軟正黑體";
}

select, input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
}

main {
  display: block;
}

html, body {
  width: 100%;
  height: auto;
}

html {
  width: 100%;
  height: 100%;
}
html body {
  width: auto;
  height: 100%;
  background: #be1451;
  padding: 0 22px;
  position: relative;
}
html header {
  width: 100%;
  min-width: 1000px;
  height: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
html header .smallNav {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-radius: 15px;
  padding: 15px 40px;
  position: relative;
  margin: auto;
}
html header .smallNav li {
  width: auto;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #27425f;
  font-size: 15px;
  font-weight: bold;
  margin-right: 22px;
  cursor: pointer;
}
html header .smallNav li i {
  width: 21px;
  height: 26px;
}
html header .smallNav li i.home_ic {
  background-position-x: 0%;
}
html header .smallNav li i.discount_ic {
  background-position-x: 50%;
}
html header .smallNav li i.master_ic {
  background-position-x: 100%;
}
html header .smallNav li p {
  width: auto;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html header .smallNav li:last-child {
  margin-right: 0;
}
html header .mid {
  width: 100%;
  min-width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
}
html header .mid .logo {
  width: 125px;
  height: 33px;
  margin: auto;
}
html header .member {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  position: relative;
}
html header .member .main {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  position: relative;
}
html header .member .main::before {
  content: "";
  width: 36px;
  height: 43px;
  background: #fcd9e3;
  border: 1px solid #be1451;
  border-radius: 15px;
  position: absolute;
  right: 82px;
  z-index: 2;
}
html header .member .main .moneyDate {
  width: 50%;
  height: auto;
  margin-right: 10px;
}
html header .member .main .moneyDate div {
  width: auto;
  height: auto;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
html header .member .main .moneyDate div p {
  width: 100%;
  height: auto;
  white-space: nowrap;
  padding: 5px 10px;
  background: #a01142;
  -webkit-box-shadow: inset 0px 2px 10px rgba(39, 0, 13, 0.39);
          box-shadow: inset 0px 2px 10px rgba(39, 0, 13, 0.39);
  border-radius: 20px;
}
html header .member .main .moneyDate div:last-child {
  margin-bottom: 0px;
}
html header .member .main .moneyDate i {
  width: 27px;
  height: 18px;
  margin-right: 10px;
}
html header .member .main .moneyDate i.money_ic {
  background-position-y: 0%;
}
html header .member .main .moneyDate i.date_ic {
  background-position-y: 50%;
}
html header .member .main .user {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-radius: 15px;
  padding: 15px;
  position: relative;
  cursor: pointer;
}
html header .member .main .user .ac_ic {
  width: 20px;
  height: 24px;
  margin-right: 20px;
  z-index: 10;
}
html header .member .main .user p {
  width: auto;
  color: #27425f;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}
html header .member .main .user .arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #dd2064 transparent transparent transparent;
}
html header .member .dropList {
  display: none;
  width: auto;
  height: auto;
  background: #ffffff;
  position: absolute;
  top: 79px;
  right: 10px;
  z-index: 200;
}
html header .member .dropList.display {
  display: block;
}
html header .member .dropList li {
  width: auto;
  min-width: 140px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #27425f;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}
html header .member .dropList li i {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}
html header .member .dropList li:hover, html header .member .dropList li:active, html header .member .dropList li.active {
  background: #be1451;
  color: #ffffff;
}
html header .member .other {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 5px 0;
  margin-top: 5px;
}
html header .member .other div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html header .member .other div P {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}
html header .member .other div > i {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #ffffff transparent transparent transparent;
}
html header .member .other div.cs {
  margin-right: 10px;
}
html header .member .other .lang {
  width: 16px;
  height: 16px;
  background-position-y: 100%;
  position: relative;
  cursor: pointer;
}
html header .member p {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
html header .member p a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
html header .langDrop {
  display: none;
  width: auto;
  height: auto;
  background: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 97px;
  right: 30px;
  z-index: 200;
}
html header .langDrop.display {
  display: block;
}
html header .langDrop li {
  width: 100%;
  height: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #27425f;
  padding: 3px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}
html header .langDrop li i {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}
html header .langDrop li:hover, html header .langDrop li:active, html header .langDrop li.active {
  background: #be1451;
  color: #ffffff;
}
html .mainwrap {
  width: 100%;
  min-width: 1000px;
  height: 735px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
html .mainwrap .topArea {
  width: 100%;
  min-width: 1000px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  background: #a01142;
  -webkit-box-shadow: inset 0px 2px 10px rgba(39, 0, 13, 0.39);
          box-shadow: inset 0px 2px 10px rgba(39, 0, 13, 0.39);
  border-radius: 20px;
}
html .mainwrap .topArea .outterBox {
  width: 100%;
  height: auto;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html .mainwrap .topArea .outterBox .tag {
  width: 350px;
  height: 85px;
  background: #ffffff;
  padding: 10px 10px 10px 15px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1294117647);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1294117647);
  margin-right: 20px;
  border-radius: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}
html .mainwrap .topArea .outterBox .tag .type {
  color: #7d8697;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
html .mainwrap .topArea .outterBox .tag .content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html .mainwrap .topArea .outterBox .tag .content .team {
  width: 33%;
  height: 100%;
}
html .mainwrap .topArea .outterBox .tag .content .team p {
  color: #27425f;
  font-size: 14px;
  font-weight: bold;
}
html .mainwrap .topArea .outterBox .tag .content .point {
  width: 33%;
  height: 100%;
  text-align: center;
}
html .mainwrap .topArea .outterBox .tag .content .point p {
  color: #dd2064;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0;
}
html .mainwrap .topArea .outterBox .tag .content .point .detail {
  color: #c4c9ce;
  margin-top: 0;
}
html .mainwrap .topArea .outterBox .tag .content .detail {
  color: #c4c9ce;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}
html .mainwrap .downArea {
  width: 100%;
  height: 100%;
  padding: 0 215px 0 65px;
  position: relative;
  overflow: hidden;
}
html .mainwrap .downArea .middle {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 5px;
  position: relative;
}
html .mainwrap .downArea .middle .funtionArea {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 12px 7px 7px 12px;
}
html .mainwrap .downArea .middle .funtionArea .switchBtn {
  width: auto;
  height: auto;
  background: #a01142;
  -webkit-box-shadow: inset 0px 2px 10px rgba(39, 0, 13, 0.39);
          box-shadow: inset 0px 2px 10px rgba(39, 0, 13, 0.39);
  border-radius: 20px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  overflow: hidden;
  cursor: pointer;
}
html .mainwrap .downArea .middle .funtionArea .switchBtn div {
  width: 80px;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  border-radius: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff92b4;
  font-weight: bold;
  margin: auto;
}
html .mainwrap .downArea .middle .funtionArea .switchBtn div:hover {
  color: #ffffff;
  position: relative;
}
html .mainwrap .downArea .middle .funtionArea .switchBtn div:hover::before {
  content: "";
  width: 80px;
  height: 100%;
  background: #be1451;
  border-radius: 50px;
  border: 1px solid #dd2064;
  color: #ffffff;
  -webkit-animation: left 0.3s ease-out;
          animation: left 0.3s ease-out;
  position: absolute;
  top: -1px;
  left: 1;
  z-index: 1;
}
html .mainwrap .downArea .middle .funtionArea .switchBtn div:active, html .mainwrap .downArea .middle .funtionArea .switchBtn div.active {
  color: #ffffff;
  position: relative;
}
html .mainwrap .downArea .middle .funtionArea .switchBtn div:active::before, html .mainwrap .downArea .middle .funtionArea .switchBtn div.active::before {
  content: "";
  width: 80px;
  height: 100%;
  background: #be1451;
  border-radius: 50px;
  border: 1px solid #dd2064;
  color: #ffffff;
  position: absolute;
  top: -1px;
  left: 1;
  z-index: 1;
}
html .mainwrap .downArea .middle .funtionArea .switchBtn div:nth-of-type(2) {
  margin: auto 3px;
}
html .mainwrap .downArea .middle .funtionArea .switchBtn div p {
  position: relative;
  z-index: 10;
}
html .mainwrap .downArea .middle .funtionArea .collapse {
  width: 72px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-radius: 30px;
  cursor: pointer;
}
html .mainwrap .downArea .middle .funtionArea .collapse i {
  width: 24px;
  height: 15px;
}
html .mainwrap .downArea .middle .funtionArea .collapse p {
  color: transparent;
  font-size: 11px;
  font-weight: bold;
  display: none;
}
html .mainwrap .downArea .middle .dataBox {
  width: 100%;
  height: 100%;
  padding: 12px 7px 20px 12px;
  overflow-y: overlay;
}
html .mainwrap .downArea .middle .dataBox::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
html .mainwrap .downArea .middle .dataBox::-webkit-scrollbar-thumb {
  background: #a01142;
  border-radius: 10px;
}
html .mainwrap .downArea .middle .dataBox::-webkit-scrollbar-track {
  background: #c5ccd3;
  border-radius: 10px;
}
html .mainwrap .downArea .middle .dataBox .gameBlock {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1294117647);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1294117647);
  margin-bottom: 12px;
  overflow: hidden;
  position: relative;
  background: #a01142;
  -webkit-box-shadow: inset 0px 2px 10px rgba(39, 0, 13, 0.39);
          box-shadow: inset 0px 2px 10px rgba(39, 0, 13, 0.39);
  border-radius: 20px;
  border-radius: 10px;
}
html .mainwrap .downArea .middle .dataBox .gameBlock:last-child {
  margin: 0;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .title {
  width: 100%;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: transparent;
  color: #001e53;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .title p {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-radius: 8px 0 0 0;
  padding: 11px 60px 11px 40px;
  position: relative;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .title p::before {
  content: "";
  width: 86px;
  height: 47px;
  position: absolute;
  top: 0;
  right: -84px;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .arrow {
  width: 17px;
  height: 13px;
  background-position-y: 0%;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  background: #f2f2f6;
  color: #282828;
  padding: 0 0 15px 40px;
  position: relative;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item {
  width: 247px;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state div {
  width: 64px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #dfdfe2;
  border-radius: 50px;
  color: #7d8697;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  pointer-events: none;
  cursor: pointer;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state div.live .live_ic {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background: #c4c9ce;
  border-radius: 10px;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state div.live:hover, html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state div.live:active, html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state div.live.active {
  background: #be1451;
  color: #ffffff;
  pointer-events: visible;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state div.live:hover .live_ic, html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state div.live:active .live_ic, html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state div.live.active .live_ic {
  background-color: #ffffff;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state div.analysis .anal_ic {
  width: 12px;
  height: 11px;
  margin-right: 5px;
  background-position-y: 0%;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state div.analysis.active {
  background: #be1451;
  color: #ffffff;
  pointer-events: visible;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state div.analysis.active .anal_ic {
  background-position-y: 100%;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state div.analysis:hover, html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state div.analysis:active {
  background: #4d0821;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .state div:last-child {
  margin-right: 0;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .dateTeam {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: bold;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .dateTeam div {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .dateTeam div:first-child {
  width: 25%;
  padding: 6px 10px 0px 10px;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .dateTeam div:first-child p {
  color: #c4c9ce;
  margin-bottom: 8px;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .dateTeam div:first-child p:last-child {
  margin-bottom: 0;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .dateTeam div:last-child {
  width: 75%;
  padding: 0 0 0 10px;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .dateTeam div:last-child p {
  color: #27425f;
  margin-bottom: 15px;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .fixed_item .dateTeam div:last-child p:last-child {
  margin-bottom: 0;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .score {
  width: 118px;
  height: 100%;
  padding: 50px 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .score p {
  color: #27425f;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .score p:last-child {
  margin-bottom: 0;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .score::before {
  content: "";
  width: 1px;
  height: 46px;
  background: #ecedef;
  position: absolute;
  bottom: -9px;
  right: 0;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .outter {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .outter .teamList {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 10px;
  overflow: overlay;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .outter .teamList::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .outter .teamList::-webkit-scrollbar-thumb {
  background: #a01142;
  border-radius: 10px;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .outter .teamList::-webkit-scrollbar-track {
  background: #c5ccd3;
  border-radius: 10px;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .outter .teamList li {
  width: 16.6666666667%;
  min-width: 120px;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .outter .teamList li .teamName {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dd2064;
  font-weight: bold;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .outter .teamList li .data {
  width: 100%;
  height: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 2px 40%;
  grid-template-columns: repeat(2, 40%);
  gap: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #27425f;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .status {
  width: 118px;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .status .itemName {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dd2064;
  font-weight: bold;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .status .detail {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: #27425f;
  font-size: 11px;
  font-weight: bolder;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .status .detail .left {
  width: 20%;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .status .detail .left ul {
  width: 100%;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .status .detail .left ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .status .detail .left ul li i {
  width: 7px;
  height: 11px;
  margin-right: 3px;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .status .detail .left ul li i.red {
  background-position-y: 0%;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .status .detail .left ul li i.yellow {
  background-position-y: 100%;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .status .detail .right {
  width: 80%;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .status .detail .right p {
  text-align: end;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content .none {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c4c9ce;
  font-weight: bold;
}
html .mainwrap .downArea .middle .dataBox .gameBlock .content:not(:first-child) {
  border-bottom: 1px solid #dfdfdf;
}
html .mainwrap .downArea .middle .dataBox .gameBlock.active {
  height: 47px;
}
html .mainwrap .downArea .middle .dataBox .gameBlock.active .title {
  background: #ffffff;
}
html .mainwrap .downArea .middle .dataBox .gameBlock.active .title p::before {
  display: none;
}
html .mainwrap .downArea .middle .dataBox .gameBlock.active .arrow {
  background-position-y: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@-webkit-keyframes left {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@keyframes left {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
html footer {
  width: 33%;
  height: auto;
  margin: 0 auto;
}
html footer nav ul {
  width: auto;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  background: #a01142;
  -webkit-box-shadow: inset 0px 2px 10px rgba(39, 0, 13, 0.39);
          box-shadow: inset 0px 2px 10px rgba(39, 0, 13, 0.39);
  border-radius: 20px;
}
html footer nav ul li {
  width: 135px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border-radius: 50px;
  color: #ff92b4;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}
html footer nav ul li i {
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background-position-y: 0%;
}
html footer nav ul li:hover, html footer nav ul li:active, html footer nav ul li.active {
  background: #be1451;
  color: #ffffff;
}
html footer nav ul li:hover i, html footer nav ul li:active i, html footer nav ul li.active i {
  background-position-y: 100%;
}
html footer .copyright {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html footer .copyright p {
  color: #ff92b4;
}
html aside.sideLeft {
  width: 48px;
  height: calc(100% - 305px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
  position: absolute;
  top: 217px;
  left: 22px;
  z-index: 50;
}
html aside.sideLeft ul {
  width: 48px;
  height: 100%;
  background: #a01142;
  -webkit-box-shadow: inset 0px 2px 10px rgba(39, 0, 13, 0.39);
          box-shadow: inset 0px 2px 10px rgba(39, 0, 13, 0.39);
  border-radius: 20px;
  border-radius: 80px;
}
html aside.sideLeft ul li {
  width: 100%;
  height: 60px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
html aside.sideLeft ul li::before {
  content: "";
  width: 53px;
  height: 53px;
  background: transparent;
  border-radius: 50px;
  position: absolute;
  top: 4px;
  left: -3.5px;
  z-index: 1;
}
html aside.sideLeft ul li:hover, html aside.sideLeft ul li:active, html aside.sideLeft ul li.active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html aside.sideLeft ul li:hover::before, html aside.sideLeft ul li:active::before, html aside.sideLeft ul li.active::before {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px rgba(0, 0, 0, 0.3019607843);
          box-shadow: 0px 2px rgba(0, 0, 0, 0.3019607843);
}
html aside.sideLeft ul li:hover i, html aside.sideLeft ul li:active i, html aside.sideLeft ul li.active i {
  background-position-x: 100%;
  -webkit-transition: 1s -webkit-transform;
  transition: 1s -webkit-transform;
  transition: 1s transform;
  transition: 1s transform, 1s -webkit-transform;
  -webkit-transform: rotateY(-360deg);
          transform: rotateY(-360deg);
}
html aside.sideLeft ul li i {
  z-index: 10;
}
html aside.sideLeft ul li .basketball {
  width: 25px;
  height: 25px;
  background-position-x: 0%;
}
html aside.sideLeft ul li .socer {
  width: 25px;
  height: 25px;
  background-position-x: 0%;
}
html aside.sideLeft ul li .baseball {
  width: 25px;
  height: 25px;
  background-position-x: 0%;
}
html aside.sideLeft ul li .hockey {
  width: 25px;
  height: 25px;
  background-position-x: 0%;
}
html aside.sideLeft ul li .ball {
  width: 25px;
  height: 25px;
  background-position-x: 0%;
}
html aside.sideRight {
  width: auto;
  height: calc(100% - 330px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #a01142;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3019607843);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3019607843);
  position: absolute;
  top: 232px;
  right: 22px;
  z-index: 50;
  cursor: pointer;
  background: #a01142;
  -webkit-box-shadow: inset 0px 2px 10px rgba(39, 0, 13, 0.39);
          box-shadow: inset 0px 2px 10px rgba(39, 0, 13, 0.39);
  border-radius: 20px;
  border-radius: 30px;
}
html aside.sideRight .pic {
  width: 175px;
  height: 173px;
}
html aside.chatroom {
  width: 290px;
  height: auto;
  border-radius: 50px;
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  right: 100px;
  z-index: 100;
}
html aside.chatroom .titleArea {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  background: #ffffff;
  cursor: pointer;
}
html aside.chatroom .titleArea .notfition {
  display: none;
  width: auto;
  height: auto;
  background: #be1451;
  color: #ffffff;
  font-size: 13px;
  font-weight: bolder;
  border-radius: 12px;
  padding: 5px 7px;
  position: absolute;
  top: 9px;
  left: 80px;
  -webkit-animation: invisible 2s ease-in-out, wiggle 2.5s 5s infinite;
          animation: invisible 2s ease-in-out, wiggle 2.5s 5s infinite;
}
html aside.chatroom .titleArea .notfition.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html aside.chatroom .titleArea p {
  color: #be1451;
  font-weight: bold;
}
html aside.chatroom .titleArea .online {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html aside.chatroom .titleArea .online .member_ic {
  width: 15px;
  height: 19px;
  margin-right: 5px;
}
html aside.chatroom .content {
  height: 0;
}
html aside.chatroom textarea {
  display: none;
}
html aside.chatroom.active {
  height: 300px;
  background: #ffffff;
  border-radius: 30px 30px 0 0;
}
html aside.chatroom.active .content {
  width: 100%;
  height: 100%;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}
html aside.chatroom.active .content .history {
  width: 100%;
  height: 70%;
  background: #f2f2f6;
  padding: 10px;
  border-bottom: 1px solid #dfdfdf;
  overflow: hidden;
}
html aside.chatroom.active .content .history .text {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
html aside.chatroom.active .content .history .text::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
html aside.chatroom.active .content .history .text::-webkit-scrollbar-thumb {
  background: #a01142;
  border-radius: 10px;
}
html aside.chatroom.active .content .history .text::-webkit-scrollbar-track {
  background: #c5ccd3;
  border-radius: 10px;
}
html aside.chatroom.active .content .history .text::-webkit-scrollbar-thumb {
  background: #a01142;
}
html aside.chatroom.active .content .history .text li {
  width: auto;
  height: auto;
  display: block;
  text-align: right;
}
html aside.chatroom.active .content .history .text li p {
  width: auto;
  max-width: 250px;
  height: auto;
  display: inline-block;
  background: #dd2064;
  border-radius: 15px;
  word-break: break-all;
  padding: 10px;
  margin: 5px;
  color: #ffffff;
}
html aside.chatroom.active .content .inputArea {
  width: 100%;
  height: 23%;
  padding: 5px;
}
html aside.chatroom.active .content .inputArea textarea {
  width: 100%;
  height: auto;
  display: block;
  border: none;
}
html aside.chatroom.active .content .inputArea textarea:focus {
  resize: none;
  outline: none;
}
@-webkit-keyframes invisible {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes invisible {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  35% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  45% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  55% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  35% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  45% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  55% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}