footer {
    width: 33%;
    height: auto;
    margin: 0 auto;

    nav {
        ul {
            width: auto;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;

            @include blockBG;

            li {
                width: 135px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: transparent;
                border-radius: 50px;
                color: $footer_text;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1px;
                white-space: nowrap;
                position: relative;
                cursor: pointer;
                
                i {
                    width: 17px;
                    height: 17px;
                    margin-right: 8px;
                    background-position-y: 0%;
                }

                &:hover,&:active,&.active {
                    background: $main_color;
                    color: $light_font;

                    i {
                        background-position-y: 100%;
                    }
                }
            }
        }
    }

    .copyright {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: $copyright;
        }
    }
}