header {
    width: 100%;
    min-width: 1000px;
    height: 97px;
    display: flex;
    position: relative;

    //分頁
    .smallNav {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $sub_color;
        border-radius: 15px;
        padding: 15px 40px;
        position: relative;
        margin: auto;

        li {
            width: auto;
            height: 25px;
            display: flex;
            flex-shrink: 0;
            color: $main_font;
            font-size: 15px;
            font-weight: bold;
            margin-right: 22px;
            cursor: pointer;
            
            i {
                width: 21px;
                height: 26px;

                &.home_ic {
                    background-position-x: 0%;
                }

                &.discount_ic {
                    background-position-x: 50%;
                }
                &.master_ic {
                    background-position-x: 100%;
                }
            }

            p {
                width: auto;
                padding: 5px;
                box-sizing: border-box;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .mid {
        width: 100%;
        min-width: auto;
        height: 100%;
        display: flex;

        margin: 0 auto;
        position: relative;
        
        .logo {
            width: 125px;
            height: 33px;
            margin: auto;
        }
    }

    //會員專區
    .member {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        position: relative;

        .main {
            width: auto;
            height: auto;
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            margin: auto 0;
            position: relative;

                &::before {
                    content: "";
                    width: 36px;
                    height: 43px;
                    background: $header_memb_BG;
                    border: 1px solid $main_color;
                    border-radius: 15px;
                    position: absolute;
                    right: 82px;
                    z-index: 2;
                }

            .moneyDate {
                width: 50%;
                height: auto;
                margin-right: 10px;

                div {
                    width: auto;
                    height: auto;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;

                    p {
                        width: 100%;
                        height: auto;
                        white-space: nowrap;
                        padding: 5px 10px;

                        @include blockBG;
                    }

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }

                i {
                    width: 27px;
                    height: 18px;
                    margin-right: 10px;

                    &.money_ic {
                        background-position-y: 0%;
                    }

                    &.date_ic {
                        background-position-y: 50%;
                    }
                }
            }

            .user {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                background: $sub_color;
                border-radius: 15px;
                padding: 15px;
                position: relative;
                cursor: pointer;

                .ac_ic {
                    width: 20px;
                    height: 24px;
                    margin-right: 20px;
                    z-index: 10;
                }

                p {
                    width: auto;
                    color: $main_font;
                    font-size: 18px;
                    font-weight: bold;
                    margin-right: 10px;
                }
                .arrow {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width:  6px 4px 0 4px ;
                    border-color: $score transparent transparent transparent;
                }

                
            }
        }

        .dropList {
            display: none;
            width: auto;
            height: auto;
            background: $sub_color;
            position: absolute;
            top: 79px;
            right: 10px;
            z-index: 200;

            &.display {
                display: block;
            }

            li {
                width: auto;
                min-width: 140px;
                height: auto;
                display: flex;
                align-items: center;
                color: $main_font;
                padding: 5px 10px;
                box-sizing: border-box;
                cursor: pointer;

                i {
                    width: 15px;
                    height: 15px;
                    margin-right: 6px;
                }

                &:hover,&:active,&.active {
                    background: $main_color;
                    color: $light_font;
                }
            }
        }

        .other {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 0 5px 0;
            margin-top: 5px;

            div {
                display: flex;
                align-items: center;
                P {
                    color: $header_font;
                    font-size: 14px;
                    font-weight: bold;
                    margin-right: 10px;
                    cursor: pointer;
                }  
                
                &>i {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width:  6px 4px 0 4px ;
                    border-color: $light_font transparent transparent transparent;
                }

                &.cs {
                    margin-right: 10px;
                }
            }

            .lang {
                width: 16px;
                height: 16px;
                background-position-y: 100%;
                position: relative;
                cursor: pointer;
            }
        }

        p {
            color: $header_font;
            font-size: 14px;
            font-weight: bold;

            a {
                color: $header_font;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }

    .langDrop {
        display: none;
        width: auto;
        height: auto;
        background: $sub_color;
        flex-direction: column;
        padding: 10px 0 10px;
        box-sizing: border-box;
        position: absolute;
        top: 97px;
        right: 30px;
        z-index: 200;

        
        &.display {
            display: block;
        }

        li {
            width: 100%;
            height: 17%;
            display: flex;
            align-items: center;
            color: $main_font;
            padding: 3px 12px;
            box-sizing: border-box;
            cursor: pointer;

            i {
                width: 15px;
                height: 15px;
                margin-right: 6px;
            }

            &:hover,&:active,&.active {
                background: $main_color;
                color: $light_font;
            }
        }
    }
}