//主色調
$main_color: #4a4a4a;
$sub_color: #ffffff;
$deco_color: #ff174e;

//字色
$main_font: #001e53;
$sub_font: #7d8697;
$light_font: #ffffff;
$lightgray_font: #a1a1a1;
$score: #ff4370;
$noti: $main_color;

//border
$header_border: #ecedef;
$data_border: #dfdfdf;
$tag_border: #5785c7;

//陰影
$shadow01: #0000004d;
$shadow02: #00000021;
$shadow02: #ffffff8f;

//scrollbar
$scrollBar_thumb: #a1a1a1;
$scrollBar_track: #efefef;

@mixin scrollBar {
    
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: $scrollBar_thumb;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $scrollBar_track;
        border-radius: 10px;
    }
}

//header
$header_font: $light_font;
$header_memb_BG: #3c628d70;

//賽事標籤
$tag_01: #ff174e;
$tag_02: #ff8f17;
$tag_03: #17ff63;
$tag_04: #17ecff;
$tag_05: #ffd02e;

//左側按鈕列
$side_bg: $sub_color;
$side_HOV_bg: linear-gradient(bottom,#ff2d5f 0%, #cd0434 100%);

//middle
$mid_bg: #d8d8db;
$switch_Btn: linear-gradient(bottom, #edf1f6 0%, #ffffff 68%);

//gameBlock
$gameBlock_bg: #f2f2f6;
$gametitle_font: #001e53;
$gameContent_text: #282828;
$state_BG: #dfdfe2;
$state_active: $sub_color;
$state_LIVE_text: #616161;
$state_LIVE_border: #ff2d5e;
$state_Analysis_border: #1254d9;


//footer
$footer_BG: #4a4a4a;

