footer {
    width: 100%;
    min-width: 1000px;
    height: auto;
    background: $mainBG_1;
    padding: 0 205px 0 80px;

    .top {
        width: 100%;
        height: 45px;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;

            li {
                width: auto;
                height: 43px;
                border-bottom: solid 2px transparent;
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;
                margin: 0 10px;
                padding: 0 20px;

                &:hover,&:active,&.active {
                    background: $footer_hoverBG;
                    border-color: $footer_hoverBorder;

                    p {
                        color: $footer_hoverColor;
                    }

                    i {
                        background-position-y: 100%;
                    }
                }

                p {
                    color: $mainColor_1;
                    font-size: 14px;
                    font-weight: bold;
                }

                i {
                    width: 17px;
                    height: 17px;
                    margin-right: 5px;

                    &.help {
                        background-position-x: 0;
                    }
                    &.feeback {
                        background-position-x: 25%;
                    }
                    &.event {
                        background-position-x: 50%;
                    }
                    &.rule {
                        background-position-x: 75%;
                    }
                    &.about {
                        background-position-x: 100%;
                        margin-top: 2px;
                    }
                }
            }
        }
    }

    .bottom {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 20px;

        p {
            color: $mainColor_1;
            font-size: 14px;
            font-weight: bold;
        }
    }
}